<h1>All Products</h1>

<% @products.each do |product| %>
    <div class="row">
      <div class="col s12 m8 center-align">
        <div class="card">
          <div class="card-image">
            <img src="<%= product.img %>">
          </div>

          <div class="card-action">
            <h6> <%= link_to product.name, product_path(product) %> </h6>
          </div>
        </div>
      </div>
    </div>
<% end %>

<button type="button" class="btn">
  <%= link_to "Add New Product", new_product_path %>
</button>
